.services {
  padding: var(--pdg-80);
  background-color: var(--neutral-600);
  transition: padding-top var(--trs-35);

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 24px;
    height: 55px;
    font-weight: 800;
    font-size: var(--fs-28);
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: var(--neutral-800);
    transition: font-size var(--trs-35), height var(--trs-35);

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      display: inline-block;
      width: 50px;
      height: 3px;
      background-color: var(--primary-color);
      transform: translateX(-50%);
    }

    @include mobile {
      height: 43px;
      font-size: var(--fs-20);
    }
  }

  &__desc {
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 920px;
    font-weight: 400;
    font-size: var(--fs-16);
    line-height: 120%;
    text-align: center;
    color: var(--neutral-800);
    transition: margin-bottom var(--trs-35), font-size var(--trs-35);

    @include mobile {
      margin-bottom: 28px;
      font-size: var(--fs-14);
    }
  }

  &__wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    @include mobile {
      padding-top: 20px;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 48px;
    gap: 24px;

    @include small-tablet {
      grid-template-columns: repeat(6, 1fr);
    }

    @include mobile {
      display: inline-flex;
      vertical-align: top;
    }
  }

  &__wrapper-button {
    display: flex;
    justify-content: center;
  }

  &__btn {
    display: inline-flex;
  }

  @include small-mobile {
    padding: 40px 0;
  }
}

.cards-services {
  position: relative;
  grid-column: 4 span;
  padding: calc(100% - 88%) calc(100% - 92%);
  text-align: center;
  background-color: var(--neutral-100);
  transition:
    fill var(--trs-35),
    background-color var(--trs-35),
    color var(--trs-35),
    transform var(--trs-35);

  &__content {
    position: relative;
    z-index: 10;
  }

  &__icon {
    margin-bottom: 15px;
    width: 36px;
    height: 35px;
    fill: var(--primary-color);
    transition: fill var(--trs-35);
  }

  &__title {
    margin: 0;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: var(--fs-20);
    line-height: 150%;
    text-align: center;
    color: var(--neutral-800);
    transition: color var(--trs-35);
  }

  &__desc {
    margin: 0;
    font-weight: 400;
    font-size: var(--fs-14);
    line-height: 120%;
    text-align: center;
    color: var(--neutral-800);
    transition: color var(--trs-35);
  }

  &__corners {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition:
      width var(--trs-35),
      height var(--trs-35),
      opacity var(--trs-35),
      0.6s;
  }

  @include hover {
    background-color: var(--primary-color);
    transform: scale3d(1.01, 1.01, 1.01);

    .cards-services__title {
      color: var(--neutral-100);
    }

    .cards-services__desc {
      color: var(--neutral-100);
    }

    .cards-services__icon {
      fill: var(--neutral-100);
    }

    .cards-services__corners {
      width: calc(100% - 32px);
      height: calc(100% - 32px);
      opacity: 1;
    }
  }

  @include small-tablet {
    grid-column: 3 span;
  }

  @include mobile {
    display: inline-block;
    overflow-x: auto;
    padding: 40px 16px;
    width: 250px;
    scroll-behavior: smooth;
    scroll-snap-align: start;
  }

  @include small {
    width: 290px;
  }
}

.left-top {
  position: absolute;
  left: 0;
  top: 0;
  fill: var(--neutral-100);
}

.right-top {
  position: absolute;
  right: 0;
  top: 0;
  fill: var(--neutral-100);
}

.bottom-left {
  position: absolute;
  left: 0;
  bottom: 0;
  fill: var(--neutral-100);
}

.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
  fill: var(--neutral-100);
}
