<section id="blog" class="blog">
  <div class="container">
    <h2 class="blog__title">Полезные материалы</h2>
    <p class="blog__desc">Публикуем разборы юридических ситуаций, изменения в законодательстве и практические советы
      для частных клиентов и бизнеса.
    </p>
    <div class="blog__wrapper-scroll">
      <ul class="cards-blog">
        <li class="cards-blog__item">
          <div class="cards-blog__top">
            <picture class="cards-blog__picture">
              <source srcset="img/blog-img/blog1.webp" type="image/webp">
              <img class="cards-blog__img" loading="lazy" src="img/blog-img/blog1.jpg" width="424" height="270"
                alt="Юрист изучает документы перед консультацией">
            </picture>
            <div class="cards-blog__corners">
              <svg class="left-top" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#left-top"></use>
              </svg>
              <svg class="right-top" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#right-top"></use>
              </svg>
              <svg class="bottom-left" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
              </svg>
              <svg class="bottom-right" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
              </svg>
            </div>
            <a class="cards-blog__link" href="#footer" aria-label="Получить консультацию по банкротству">
              <img loading="lazy" src="img/svg/eye.svg" class="cards-blog__icon-eye" width="40" height="40"
                alt="" aria-hidden="true">
            </a>
          </div>
          <div class="cards-blog__content">
            <h4 class="cards-blog__title">Как подготовиться к процедуре банкротства физического лица</h4>
            <time class="cards-blog__date" datetime="2023-04-24">24 апр. 2023 г.</time>
            <p class="cards-blog__desc">Разбираем, какие документы понадобятся, как оценить риски и что важно сделать до
              подачи заявления в суд.
            </p>
          </div>
        </li>
        <li class="cards-blog__item">
          <div class="cards-blog__top">
            <picture class="cards-blog__picture">
              <source srcset="img/blog-img/blog2.webp" type="image/webp">
              <img class="cards-blog__img" loading="lazy" src="img/blog-img/blog2.jpg" width="424" height="270"
                alt="Деловая встреча по юридическому сопровождению сделки">
            </picture>
            <div class="cards-blog__corners">
              <svg class="left-top" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#left-top"></use>
              </svg>
              <svg class="right-top" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#right-top"></use>
              </svg>
              <svg class="bottom-left" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
              </svg>
              <svg class="bottom-right" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
              </svg>
            </div>
            <a class="cards-blog__link" href="#footer" aria-label="Получить консультацию по сопровождению сделки">
              <img loading="lazy" src="img/svg/eye.svg" class="cards-blog__icon-eye" width="40" height="40"
                alt="" aria-hidden="true">
            </a>
          </div>
          <div class="cards-blog__content">
            <h4 class="cards-blog__title">Что проверить перед подписанием договора купли-продажи</h4>
            <time class="cards-blog__date" datetime="2023-03-12">12 мар. 2023 г.</time>
            <p class="cards-blog__desc">Короткий чек-лист по условиям договора, полномочиям сторон, расчетам и
              документам, которые нельзя пропускать.
            </p>
          </div>
        </li>
        <li class="cards-blog__item">
          <div class="cards-blog__top">
            <picture class="cards-blog__picture">
              <source srcset="img/blog-img/blog3.webp" type="image/webp">
              <img class="cards-blog__img" loading="lazy" src="img/blog-img/blog3.jpg" width="424" height="270"
                alt="Команда юристов обсуждает стратегию защиты клиента">
            </picture>
            <div class="cards-blog__corners">
              <svg class="left-top" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#left-top"></use>
              </svg>
              <svg class="right-top" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#right-top"></use>
              </svg>
              <svg class="bottom-left" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
              </svg>
              <svg class="bottom-right" width="35" height="35">
                <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
              </svg>
            </div>
            <a class="cards-blog__link" href="#footer" aria-label="Получить консультацию по судебному спору">
              <img loading="lazy" src="img/svg/eye.svg" class="cards-blog__icon-eye" width="40" height="40"
                alt="" aria-hidden="true">
            </a>
          </div>
          <div class="cards-blog__content">
            <h4 class="cards-blog__title">Когда стоит обращаться к юристу до начала судебного спора</h4>
            <time class="cards-blog__date" datetime="2023-02-02">02 фев. 2023 г.</time>
            <p class="cards-blog__desc">Объясняем, как ранняя консультация помогает сохранить доказательства, снизить
              расходы и избежать процессуальных ошибок.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <a class="btn blog__btn" href="#footer" data-scroll>Задать вопрос</a>
  </div>
</section>
