<section class="hero">
  <div class="hero__content">
    <h1 class="visually-hidden">Юридическая компания "ПРАВОЗАЩИТНИК"</h1>
    <div class="container">
      <!-- Swiper -->
      <div class="swiper heroSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide__content">
                <span class="slide__subtitle">Оказываем весь комплекс</span>
                <span class="slide__title">Юридических услуг</span>
                <p class="slide__desc">Помогаем гражданам и бизнесу решать правовые вопросы: от консультаций и
                  подготовки документов до защиты интересов в суде.</p>
                <div class="slide__button-wrapper">
                  <a class="btn" href="#services" data-scroll>Наши услуги</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide__content">
                <span class="slide__subtitle">Оказываем весь комплекс</span>
                <span class="slide__title">Юридических услуг</span>
                <p class="slide__desc">Оцениваем перспективы дела, готовим доказательную базу и сопровождаем клиента на
                  каждом этапе судебного процесса.</p>
                <div class="slide__button-wrapper">
                  <a class="btn" href="#footer" data-scroll>Получить консультацию</a>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <div class="slide__content">
                <span class="slide__subtitle">Оказываем весь комплекс</span>
                <span class="slide__title">Юридических услуг</span>
                <p class="slide__desc">Проверяем документы, выявляем риски и помогаем безопасно проводить сделки с
                  недвижимостью, бизнесом и активами.</p>
                <div class="slide__button-wrapper">
                  <a class="btn" href="#about" data-scroll>О компании</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="hero__slider-navigation">
          <div class="hero__pagination-wrapper">
            <div class="hero__pagination"></div>
          </div>
          <div class="hero__slider-buttons">
            <button class="hero__slider-button hero__slider-button--prev" type="button" aria-label="Предыдущий слайд">
              <svg class="arrowright" width="20" height="20" aria-hidden="true">
                <use xlink:href="img/svg/sprite.svg#arrowleft"></use>
              </svg>
            </button>
            <button class="hero__slider-button hero__slider-button--next" type="button" aria-label="Следующий слайд">
              <svg class="arrowright" width="20" height="20" aria-hidden="true">
                <use xlink:href="img/svg/sprite.svg#arrowright"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- // Swiper -->
    </div>
  </div>
</section>
