<section id="reviews" class="reviews">
  <div class="container">
    <div class="reviews__top">
      <h2 class="reviews__title">Что о нас говорят клиенты</h2>
      <div class="reviews__slider-buttons">
        <button class="reviews__slider-button reviews__slider-button--prev" type="button"
          aria-label="Предыдущий отзыв">
          <svg class="arrowright" width="20" height="20" aria-hidden="true">
            <use xlink:href="img/svg/sprite.svg#arrowleft"></use>
          </svg>
        </button>
        <button class="reviews__slider-button reviews__slider-button--next" type="button" aria-label="Следующий отзыв">
          <svg class="arrowright" width="20" height="20" aria-hidden="true">
            <use xlink:href="img/svg/sprite.svg#arrowright"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="reviews__content">
      <div class="swiper reviewsSlider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="cards-reviews">
              <div class="cards-reviews__content">
                <div class="cards-reviews__top">
                  <img class="cards-reviews__avatar" loading="lazy" src="img/user-img/user1.jpg" width="80" height="80"
                    alt="Фото клиента Анастасии Логиновой">
                  <div class="cards-reviews__user">
                    <span class="cards-reviews__company">ООО “ИТ Консалтинг”</span>
                    <h3 class="cards-reviews__title">Логинова Анастасия</h3>
                  </div>
                </div>
                <div class="cards-reviews__text">
                  <p class="cards-reviews__desc">Обратились за сопровождением договора с подрядчиком. Юристы быстро
                    нашли спорные условия, предложили правки и помогли провести переговоры без затягивания сроков.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="cards-reviews">
              <div class="cards-reviews__content">
                <div class="cards-reviews__top">
                  <img class="cards-reviews__avatar" loading="lazy" src="img/user-img/user2.jpg" width="80" height="80"
                    alt="Фото клиента Сергея Макарова">
                  <div class="cards-reviews__user">
                    <span class="cards-reviews__company">АО “ПРОМАРШ”</span>
                    <h3 class="cards-reviews__title">Макаров Сергей</h3>
                  </div>
                </div>
                <div class="cards-reviews__text">
                  <p class="cards-reviews__desc">Команда помогла подготовиться к налоговой проверке: собрали документы,
                    проверили переписку и объяснили, как отвечать на запросы инспекции.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="reviews__buttons">
      <a class="btn btn--secondary" href="#blog" data-scroll>Полезные материалы</a>
      <a class="btn" href="mailto:janis62@yahoo.com">Написать отзыв</a>
    </div>
  </div>
</section>
