<section id="services" class="services">
  <div class="container">
    <h2 class="services__title">Наши услуги</h2>
    <p class="services__desc">Берем на себя юридические задачи, где важны точность документов, оценка рисков и защита
      интересов клиента в переговорах или суде.
    </p>
    <div class="services__wrapper">
      <div class="services__content">
        <div class="cards-services">
          <div class="cards-services__content">
            <svg class="cards-services__icon" width="36" height="35">
              <use xlink:href="img/svg/sprite.svg#agreement"></use>
            </svg>
            <h3 class="cards-services__title">Банкротство физических лиц</h3>
            <p class="cards-services__desc">Процедуру банкротства физических лиц в России регулирует закон «О
              несостоятельности (банкротстве)».
            </p>
          </div>
          <div class="cards-services__corners">
            <svg class="left-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </div>
        </div>
        <div class="cards-services">
          <div class="cards-services__content">
            <svg class="cards-services__icon" width="36" height="35">
              <use xlink:href="img/svg/sprite.svg#business"></use>
            </svg>
            <h3 class="cards-services__title">Сопровождение сделок</h3>
            <p class="cards-services__desc">Инициирование, оформление, осуществление сделки и достижение результата —
              это
              именно то, чем мы занимаемся каждый день.
            </p>
          </div>
          <div class="cards-services__corners">
            <svg class="left-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </div>
        </div>
        <div class="cards-services">
          <div class="cards-services__content">
            <svg class="cards-services__icon" width="36" height="35">
              <use xlink:href="img/svg/sprite.svg#home"></use>
            </svg>
            <h3 class="cards-services__title">Корпоративные споры</h3>
            <p class="cards-services__desc">Корпоративные споры – споры, связанные с созданием юрлица, управлением или
              участием в нем.
            </p>
          </div>
          <div class="cards-services__corners">
            <svg class="left-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </div>
        </div>
        <div class="cards-services">
          <div class="cards-services__content">
            <svg class="cards-services__icon" width="36" height="35">
              <use xlink:href="img/svg/sprite.svg#profile"></use>
            </svg>
            <h3 class="cards-services__title">Недвижимость и строительство</h3>
            <p class="cards-services__desc">Консультируем по различным вопросам в области недвижимости, включая
              градостроительное регулирование, земельные отношения.
            </p>
          </div>
          <div class="cards-services__corners">
            <svg class="left-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </div>
        </div>
        <div class="cards-services">
          <div class="cards-services__content">
            <svg class="cards-services__icon" width="36" height="35">
              <use xlink:href="img/svg/sprite.svg#projects"></use>
            </svg>
            <h3 class="cards-services__title">Возврат страховых премий</h3>
            <p class="cards-services__desc">Для возврата страховой премии нужно подготовить следующий пакет документов:
              паспорт страхователя; оригинал страхового полиса.
            </p>
          </div>
          <div class="cards-services__corners">
            <svg class="left-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </div>
        </div>
        <div class="cards-services">
          <div class="cards-services__content">
            <svg class="cards-services__icon" width="36" height="35">
              <use xlink:href="img/svg/sprite.svg#request"></use>
            </svg>
            <h3 class="cards-services__title">Налоговое право и споры</h3>
            <p class="cards-services__desc">Сопровождение налоговых проверок на любой стадии, анализ и подготовка
              документов, защита при налоговых спорах.
            </p>
          </div>
          <div class="cards-services__corners">
            <svg class="left-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
    <div class="services__wrapper-button">
      <a class="btn services__btn" href="#footer" data-scroll>Получить консультацию</a>
    </div>
  </div>
</section>
