<section id="team" class="team">
  <div class="container">
    <h2 class="team__title">Наши юристы</h2>
    <p class="team__desc">В команде работают юристы с опытом судебной защиты, сопровождения сделок, корпоративного и
      налогового права.
    </p>
    <div class="team__scroll-wrap">
      <div class="team__content">
        <button class="cards-team" type="button" aria-expanded="false">
          <span class="cards-team__hover">
            <span class="cards-team__top">
              <span class="cards-team__top-title">Горюнова Полина Алексеевна</span>
              <span class="cards-team__top-post">Юрист международного права</span>
            </span>
            <span class="cards-team__desc">Сопровождает международные договоры, консультирует по частному праву и
              помогает клиентам выстраивать стратегию защиты в трансграничных спорах.</span>
            <span class="cards-team__practice">12 лет юридической практики</span>
          </span>
          <span class="cards-team__content">
            <picture class="cards-team__picture">
              <source srcset="img/team-img/team-img1.webp" type="image/webp">
              <img class="cards-team__img" loading="lazy" src="img/team-img/team-img1.jpg" width="312" height="320"
                alt="Портрет юриста Горюновой Полины Алексеевны">
            </picture>
            <span class="cards-team__info">
              <span class="cards-team__title">Горюнова Полина Алексеевна</span>
              <span class="cards-team__post">Юрист международного права</span>
            </span>
          </span>
          <span class="cards-team__corners" aria-hidden="true">
            <svg class="left-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </span>
        </button>
        <button class="cards-team" type="button" aria-expanded="false">
          <span class="cards-team__hover">
            <span class="cards-team__top">
              <span class="cards-team__top-title">Миронов Александр Германович</span>
              <span class="cards-team__top-post">Кредитный адвокат, банковский юрист</span>
            </span>
            <span class="cards-team__desc">Ведет споры с банками, помогает оспаривать комиссии, реструктурировать долги
              и защищать права заемщиков.</span>
            <span class="cards-team__practice">12 лет юридической практики</span>
          </span>
          <span class="cards-team__content">
            <picture class="cards-team__picture">
              <source srcset="img/team-img/team-img2.webp" type="image/webp">
              <img class="cards-team__img" loading="lazy" src="img/team-img/team-img2.jpg" width="312" height="320"
                alt="Портрет юриста Миронова Александра Германовича">
            </picture>
            <span class="cards-team__info">
              <span class="cards-team__title">Миронов Александр Германович</span>
              <span class="cards-team__post">Кредитный адвокат, банковский юрист</span>
            </span>
          </span>
          <span class="cards-team__corners" aria-hidden="true">
            <svg class="left-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </span>
        </button>
        <button class="cards-team" type="button" aria-expanded="false">
          <span class="cards-team__hover">
            <span class="cards-team__top">
              <span class="cards-team__top-title">Шестакова Елизавета Егоровна</span>
              <span class="cards-team__top-post">Юридический консультант</span>
            </span>
            <span class="cards-team__desc">Готовит правовые заключения, договоры и претензии, помогает клиентам выбрать
              понятный и экономичный способ защиты.</span>
            <span class="cards-team__practice">12 лет юридической практики</span>
          </span>
          <span class="cards-team__content">
            <picture class="cards-team__picture">
              <source srcset="img/team-img/team-img3.webp" type="image/webp">
              <img class="cards-team__img" loading="lazy" src="img/team-img/team-img3.jpg" width="312" height="320"
                alt="Портрет юриста Шестаковой Елизаветы Егоровны">
            </picture>
            <span class="cards-team__info">
              <span class="cards-team__title">Шестакова Елизавета Егоровна</span>
              <span class="cards-team__post">Юридический консультант</span>
            </span>
          </span>
          <span class="cards-team__corners" aria-hidden="true">
            <svg class="left-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </span>
        </button>
        <button class="cards-team" type="button" aria-expanded="false">
          <span class="cards-team__hover">
            <span class="cards-team__top">
              <span class="cards-team__top-title">Архипов Максим Константинович</span>
              <span class="cards-team__top-post">Корпоративный юрист</span>
            </span>
            <span class="cards-team__desc">Сопровождает корпоративные споры, регистрацию изменений, договорную работу и
              правовой аудит компаний.</span>
            <span class="cards-team__practice">12 лет юридической практики</span>
          </span>
          <span class="cards-team__content">
            <picture class="cards-team__picture">
              <source srcset="img/team-img/team-img4.webp" type="image/webp">
              <img class="cards-team__img" loading="lazy" src="img/team-img/team-img4.jpg" width="312" height="320"
                alt="Портрет юриста Архипова Максима Константиновича">
            </picture>
            <span class="cards-team__info">
              <span class="cards-team__title">Архипов Максим Константинович</span>
              <span class="cards-team__post">Корпоративный юрист</span>
            </span>
          </span>
          <span class="cards-team__corners" aria-hidden="true">
            <svg class="left-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#left-top"></use>
            </svg>
            <svg class="right-top-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#right-top"></use>
            </svg>
            <svg class="bottom-left-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-left"></use>
            </svg>
            <svg class="bottom-right-color" width="35" height="35">
              <use xlink:href="img/svg/sprite.svg#bottom-right"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
