<footer id="footer" class="footer">
  <div class="footer__top">
    <div class="container">
      <div class="footer__top-content">
        <div class="footer__logo">
          <a class="logo" href="./" aria-label="Правозащитник, на главную">
            <span class="logo__title">Правозащитник</span>
            <span class="logo__subtitle">Юридическая компания</span>
          </a>
        </div>
        <p class="footer__desc">Юридическая помощь для частных клиентов и бизнеса: консультации, подготовка документов,
          сопровождение сделок и защита интересов в суде.
        </p>
      </div>
    </div>
  </div>
  <div class="footer__main">
    <div class="container">
      <div class="footer__main-content">
        <address class="footer__contact">
          <div class="footer__contact-item">
            <div class="footer__contact-icon">
              <svg width="32" height="32" aria-hidden="true">
                <use xlink:href="img/svg/sprite.svg#map"></use>
              </svg>
            </div>
            <div class="footer__contact-text">
              Наш адрес
              <span>г. Одинцово, пр. Будапештсткая, 40</span>
            </div>
          </div>
          <div class="footer__contact-item">
            <div class="footer__contact-icon">
              <svg width="32" height="32" aria-hidden="true">
                <use xlink:href="img/svg/sprite.svg#phone"></use>
              </svg>
            </div>
            <div class="footer__contact-text">
              Запись на консультанцию
              <a href="tel:+79220229482">+7 (922) 022-94-82</a>
            </div>
          </div>
          <div class="footer__contact-item">
            <div class="footer__contact-icon">
              <svg width="32" height="32" aria-hidden="true">
                <use xlink:href="img/svg/sprite.svg#mail"></use>
              </svg>
            </div>
            <div class="footer__contact-text">
              Корреспонденция
              <a href="mailto:janis62@yahoo.com">janis62@yahoo.com</a>
            </div>
          </div>
        </address>
        <ul class="footer__list" aria-label="footer-navigation">
          <li class="footer__item"><a class="footer__link" href="#services" data-scroll>Услуги</a></li>
          <li class="footer__item"><a class="footer__link" href="#about" data-scroll>О компании</a></li>
          <li class="footer__item"><a class="footer__link" href="#team" data-scroll>Наши юристы</a></li>
          <li class="footer__item"><a class="footer__link" href="#reviews" data-scroll>Отзывы</a></li>
          <li class="footer__item"><a class="footer__link" href="#blog" data-scroll>Полезные материалы</a></li>
          <li class="footer__item"><a class="footer__link" href="#footer" data-scroll>Контакты</a></li>
        </ul>
        <div class="footer__feedback">
          <div class="footer__feedback-top">
            <img class="footer__feedback-avatar" loading="lazy" src="img/user-img/user3.jpg" width="65" height="65"
              alt="Портрет ведущего юриста Александра Миронова">
            <div class="footer__feedback-user">
              <h3 class="footer__feedback-title">Миронов Александр</h3>
              <span class="footer__feedback-post">Ведущий юрист</span>
            </div>
          </div>
          <p class="footer__feedback-desc">Поможем оценить правовую ситуацию, подготовить документы и выбрать стратегию
            защиты с учетом сроков и бюджета.</p>
          <a class="btn footer__btn" href="mailto:janis62@yahoo.com">Задать вопрос юристу</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="container">
      <div class="footer__bottom-content">
        <span>Все права защищены, 2023</span>
        <a href="mailto:janis62@yahoo.com?subject=Запрос%20политики%20обработки%20персональных%20данных">Политика
          обработки персональных данных</a>
      </div>
    </div>
  </div>
</footer>
